button-item{
    display: flex;
    background-color: #a4a4a436; 
    border: 1px solid #a4a4a4;
    filter: brightness(90%);
    border-radius: 16px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    cursor: pointer;
    width: auto;

    &.primary{
        background: linear-gradient(321.69deg, #4481EB 0%, #04BEFE 100%);
        color: white;
    }
    &:hover{filter: brightness(100%);}
    &:active{filter: brightness(70%);}
    &:disabled{
        cursor: inherit;
        filter: brightness(60%);
        a{
            color: #7a7a7a;
        }
    }

    a {
        padding: 7px 32px;
        text-decoration: none;
        color: white;
    }
}